.friends .friends__plus {
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  color: #808080;
  margin-bottom: 12px;
}

.friends__header .friend__content {
  font-size: 20px;
}

.friend .friend__content {
  margin: 10px 0px;
}

li.friends__friend {
  padding-bottom: 12px;
}

li.chats__chat {
  padding-bottom: 20px;
}
