.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header .header__title {
  font-weight: 600;
  font-size: 25px;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .fa-cog {
  margin-right: 37px;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 24px;
  margin-right: 20px;
}
